.card_container{
    margin: 50px 0px;
    display: table-cell;
}
.card{
   position: relative;
   height:270px;
   max-width:100%;
}

.movie_info{
    position: relative;
}

.btn{
    padding:0 1rem;
   
    font-weight:500;
    background-color: #00c853;
    position: absolute;
    bottom: 30px;
    margin-left:40%;
    margin-top:20px;
    /* box-shadow:5px 5px 3px rgba(0,200,83,0.1); */
}

.btn:focus{
    background-color: #00c853;
}

.btn:hover{
    background-color: #00c853;
}
.content{
    padding:0 15px;
    width:60%;
    box-sizing: border-box;
    display: inline-block;
    position:absolute;
    top:0px;
    height:auto;
    
    
}
.title{
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px;
}
.image_container{
    width:40%;
    position: relative;
    margin:0;
    top:-60px;
    display:inline-block;
}

.image{
    max-width:100%;
    max-height:300px;
    width:100%;
    height:auto;
}

@media screen and (max-width:376px){
    .image_container{
        width:100%;
       margin:auto;
       display: block;

    }

    .content{
        position: static;
        display: block;
        width:100%;
    }
    .image{
       min-height: 200px;
       max-height:300px;
       height:auto;
    }
    .card{
       
        height:auto;
    
        
     }
     .title{
        font-size: 20px;
       
    }

    .btn{
       font-size:12px;
        position: static;
      
    }
}